*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}


/* ----------------------- Debut index -------------------------- */
/* ------------------------ Fin index --------------------------- */






/* ----------------------- Debut Products page -------------------------- */
/* ------------------------ Fin Products Page --------------------------- */





/* ------------------------ Debut All products --------------------------- */
/* ------------------------ Fin All products --------------------------- */






/* ------------------------ Debut About --------------------------- */
/* ------------------------ Fin About --------------------------- */







/* ------------------------ Debut FAQ --------------------------- */
/* ------------------------ Fin FAQ --------------------------- */




